/** -------------------- En-tête de la page photographer.html -------------------- */
.photograph-header {
  background-color: #fafafa;
  margin: 0 5% 0 5%;
  padding: 30px;
}

.photograph-header section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photograph-header section h1 {
  color: #d3573c;
  font-size: 2.625em;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
}

.photograph-header section h2 {
  color: #901c1c;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
}

.photograph-header section h3 {
  color: #000;
  font-size: 18px;
  font-weight: normal;
}

.photograph-header section h6 {
  color: #d3573c;
  font-size: 36px;
  margin: 10px 0 0 0;
}
.photograph-header section img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px #c4c4c4;
  object-fit: cover;
}

/** -------------------- Galerie de la page photographer.html -------------------- */
.photograph-galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 100px 40px 100px;
}

.photograph-galery figure {
  cursor: pointer;
  transform: scale(0);
  animation-name: slideUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.photograph-galery figure:nth-child(1n) {
  animation-delay: 0.15s;
}

.photograph-galery figure :hover {
  transition: all 0.25s ease;
}

.photograph-galery figure img {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
  object-position: center top;
  transform: translateY(0px) scale(1);
  transition: all 0.25s ease;
  box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
}

.photograph-galery figure img:hover {
  transform: translateY(-2px) scale(1.02);
}

.photograph-galery figure video {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
  object-position: center top;
  transform: translateY(0px) scale(1);
  transition: all 0.25s ease;
  box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
  max-width: 100%;
}

.photograph-galery figcaption {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  white-space: nowrap;
}

.photograph-galery figure span {
  color: #911c1c;
  font-size: 23px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** -------------------- Like et dislike -------------------- */
input[type="checkbox"].like-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type="checkbox"].like-input:focus {
  border: 2px solid blue;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type="checkbox"].like-input + label::before {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  color: #901c1c;
  padding: 0 0.6rem;
  font-weight: 100;
}
input[type="checkbox"].like-input:checked + label::before {
  font-weight: 900;
}

.like-label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: #901c1c;
  font-size: 24px;
}

/** -------------------- Listbox - tri des médias--------------------*/
#listbox {
  display: flex;
  height: 80px;
  padding: 10px 0 0 120px;
}

#listbox-label {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.listbox-custom {
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.listbox-custom select {
  display: none;
}

.listbox-custom-new {
  display: flex;
  align-items: center;
  background-color: #901c1c;
  border-radius: 5px;
  min-height: 69px;
  width: 170px;
  cursor: pointer;
  padding-left: 10px;
  position: relative;
}

.select-items {
  background-color: #901c1c;
  border-radius: 5px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.select-items div {
  display: flex;
  align-items: center;
  min-height: 80px;
  width: 170px;
  border-top: solid #fafafa;
  padding-left: 25px;
  cursor: pointer;
}

.select-hide {
  display: none;
}

.active {
  display: none;
}

.listbox-custom-new::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  position: absolute;
  right: 8px;
}

.listbox-custom-new.active::after {
  font-family: "Font Awesome 5 Free";
  content: "\f077";
}

/** -------------------- WIDGET de la page photographer.html -------------------- */
.widget aside {
  position: fixed;
  bottom: 0px;
  left: 73%;
  background-color: #db8876;
  width: 376px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px 5px 0 0;
  font-size: 24px;
  font-weight: 500;
  /* transform: translateY(50px); */
  animation-name: slideIn;
  animation-delay: 1.75s;
  animation-duration: 0.85s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  z-index: 2;
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 12%),
    0 4px 4px rgb(0 0 0 / 12%), 0 8px 8px rgb(0 0 0 / 12%),
    0 16px 16px rgb(0 0 0 / 12%);
}
