@import url("photographer.css");
@import url("contactform.css");
@import url("lightbox.css");

/** -------------------- Keyframes -------------------- */
@keyframes fadeIn {
  /* Keyframe pour l'animation au moment du chargement des photos/portrait de la page index.html */
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  /* Keyframe pour l'animation au moment du chargement des médias de la page photographer.html */
  0% {
    opacity: 0;
    transform: translateY(31.25em);
  }
  50% {
    opacity: 1;
    transform: translateY(-3.125em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/** -------------------- Général -------------------- */
a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.625em;
}

header h1 {
  font-weight: 500;
  margin-right: 3em;
}

h1 {
  color: #901c1c;
}

.logo {
  height: 3.5em;
  margin-left: 5.25em;
}

/** -------------------- Article par photographe de la page index.html -------------------- */
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5.62em;
  margin-top: 6.25em;
}

.photographer_section article {
  display: flex;
  flex-direction: column;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.photographer_section article div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photographer_section article section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 2.25em;
  font-weight: 500;
  margin: 0.625em 0 0 0;
}

.photographer_section article h3 {
  color: #901c1c;
  font-size: 0.85em;
  margin: 0.125em;
}

.photographer_section article h4 {
  color: #000;
  font-size: 0.75em;
  font-weight: 600;
  margin: 0.125em;
}

.photographer_section article h5 {
  color: #525252;
  font-size: 0.7em;
  font-weight: 100;
  margin: 0.125em;
}

.photographer_section article img {
  height: 12.5em;
  width: 12.5em;
  border-radius: 50%;
  box-shadow: 0.25em 0.25em 0.5em #c4c4c4;
  object-fit: cover;
}
